<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiDatatable">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
            <header>Multi row selection <span version="0.4"/></header>
            <div pui-datatable="multiSelectTableData">
                <div pui-column="brand"></div>
                <div pui-column="year"></div>
                <div pui-column="color"></div>
            </div>

		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >

        <div pui-datatable="multiSelectTableData">
            <div pui-column="brand"></div>
            <div pui-column="year"></div>
            <div pui-column="color"></div>
        </div>
                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.fixedData =  [
    {'brand':'Volkswagen','year': 2012, 'color':'White', 'vin':'dsad231ff'},
    {'brand':'Audi','year': 2011, 'color':'Black', 'vin':'gwregre345'},
    {'brand':'Renault','year': 2005, 'color':'Gray', 'vin':'h354htr'},
    {'brand':'Bmw','year': 2003, 'color':'Blue', 'vin':'j6w54qgh'},
    {'brand':'Mercedes','year': 1995, 'color':'White', 'vin':'hrtwy34'},
    {'brand':'Opel','year': 2005, 'color':'Black', 'vin':'jejtyj'},
    {'brand':'Honda','year': 2012, 'color':'Yellow', 'vin':'g43gr'},
    {'brand':'Chevrolet','year': 2013, 'color':'White', 'vin':'greg34'},
    {'brand':'Opel','year': 2000, 'color':'Black', 'vin':'h54hw5'},
    {'brand':'Mazda','year': 2013, 'color':'Red', 'vin':'245t2s'}
];

$scope.multiSelectTableData = {
    tableData : $scope.fixedData
    , selectionMode : 'multiple'
    , rowSelect: function(event, data) {
        puiGrowl.showInfoMessage('Row selection', 'Selected a '+data.color+ ' '+data.brand+ ' of '+data.year +' (id = '+data.vin+')');
    }
    , rowUnselect: function(event, data) {
        puiGrowl.showInfoMessage('Row deselection', 'deselected the '+data.color+ ' '+data.brand+ ' of '+data.year +' (id = '+data.vin+')');
    }
};
                    </pre>
                </div>
			</div>
		</fieldset>
	</div>
</div>