<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiInput">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Default integration</header>

			<input id="default" type="text" pui-input ng-model="value1"/><br/>
			Controller value is : <span id="defaultModel">{{value1}}</span><br/>
			<input id="digits" type="number" pui-input ng-model="numbers"/><br/>
			Controller value is : <span id="digitsModel">{{numbers}}</span>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
				<ul>
					<li><a href="#d_html">html</a></li>
					<li><a href="#d_script">controller</a></li>
				</ul>
				<div>
					<div id="d_html">
						<pre pretty-print="html" >
	<input id="default" type="text" pui-input ng-model="value1"/><br/>
	Controller value is : {{value1}}<br/>
	<input id="digits" type="number" pui-input ng-model="numbers"/><br/>
	Controller value is : {{numbers}}

						</pre>

					</div>
					<div id="d_script">
						<pre pretty-print="js" >
	$scope.value1 = 'Change me';

	$scope.numbers = 123;
						</pre>
					</div>
				</div>
			</div>
		</fieldset>

	</div>
</div>