<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiInput">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<fieldset id="description" pui-fieldset style="margin-bottom:20px">
			<legend>Description</legend>
			Extension to standard inputText with skinning capabilities.
		</fieldset>
		<fieldset id="supports" pui-fieldset style="margin-bottom:20px">
			<legend>Supports</legend>
		</fieldset>
		<fieldset id="issues" pui-fieldset style="margin-bottom:20px">
			<legend>Known issues</legend>
		</fieldset>
        <fieldset id="fixes" pui-fieldset style="margin-bottom:20px">
            <legend>History</legend>
            <ul>
                <li>0.6</li>
                <li style="list-style-type:none">
                    <ul>
                        <li>Widget is now also available as element/tag</li>
                    </ul>
                </li>
            </ul>
        </fieldset>
		<fieldset id="planned" pui-fieldset style="margin-bottom:20px">
			<legend>Planned</legend>
		</fieldset>

		<fieldset id="documentation" pui-fieldset style="margin-bottom:20px">
			<legend>Documentation</legend>
            <a href="docs/pui-input.html" target="_blank">pui-input widget documentation</a>
        </fieldset>


	</div>
</div>