<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiBreadcrumb">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

        <section>
            <header>Based on javaScript model<span version="0.3"/></header>

            <ul id="model" pui-breadcrumb="items" />
            id : <input type="text" ng-required="true" ng-model="newItem.id" /> <br/>
            label : <input type="text" ng-required="true" ng-model="newItem.label" /> <br/>
            <button ng-click="addItem()" type="button">Add item</button>
        </section>

        <fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
        <ul id="model" pui-breadcrumb="items" />
        id : <input type="text" ng-required="true" ng-model="newItem.id" /> <br/>
        label : <input type="text" ng-required="true" ng-model="newItem.label" /> <br/>
        <button ng-click="addItem()" type="button">Add item</button>

                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.doCommand = function(commandText) {
    alert("Click on item '"+commandText+"'");
};

$scope.items = [
    {id: 'lvl0', label: 'Categories', onclick: "doCommand('{id}')", globalAction: true},
    {id: 'lvl1', label: 'Sports'}
];

$scope.newItem = {
    id : '',
    label : ''
};


$scope.addItem = function () {
    $scope.items.push({id: $scope.newItem.id, label: $scope.newItem.label});
    $scope.newItem.id = '';
    $scope.newItem.label = '';
}

                    </pre>
                </div>
			</div>
		</fieldset>
	</div>

</div>