<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">
	<div pui-panel title="History">
		<ul>
			<li>26/01/2013 -> v0.1: tryout of integration</li>
			<li>13/03/2013 -> v0.2: first functional version. A lot of changes, not backwards compatible with v0.1</li>
			<li>20/05/2013 -> v0.3: </li>
			<li style="list-style-type:none">
				<ul>
					<li>puiGrowl improvements</li>
                    <li>puiAccordion dynamic number of panels and 'included' fragments</li>
                    <li>puiTabview dynamic number of panels and 'included' fragments</li>
                    <li>puiPanel can be used to define panels within puiAccordion and puiTabview</li>
                    <li>puiProgressbar widget from PrimeUI 0.9</li>
                    <li>puiMenu widget from PrimeUI 0.9 (basic integration)</li>
                    <li>puiMenubar widget from PrimeUI 0.9 (basic integration)</li>
                    <li>puiBreadcrumb widget from PrimeUI 0.9</li>
                    <li>puiLightbox dynamic number of items</li>
				</ul>
			</li>
            <li>25/07/2013 -> v0.4: </li>
            <li style="list-style-type:none">
                <ul>
                    <li>puiGrowl no longer accessible from $rootScope (breaking change)</li>
                    <li>puiCheckbox directive for easier definition of checkbox input and support for ngShow and ngHide</li>
                    <li>puiRadiobox directive for easier definition of radiobutton input and support for ngShow and ngHide</li>
                    <li>puiDatatable widget from PrimeUI 0.9.5</li>
                </ul>
            </li>
		</ul>
	</div>
</div>
