<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="Planned">
		This are some major tasks which will be performed in some next release.
		<ul>
            <li>New widgets from PrimeUI</li>
            <li>Lazy loading of panels for Accordion and Tabview</li>
			<li>Code reorganization, this is a nice example http://jsfiddle.net/andytjoslin/DPq4P/2/</li>
            <li>Developers guide</li>
            <li>Automatic integration tests</li>
		</ul>
	</div>

</div>