<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiSpinner">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Default integration</header>

			<input id="default" type="text" pui-spinner ng-model="value" /><br/>
			Scope value <span id="modelValue">{{value}}</span>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
				<ul>
					<li><a href="#d_html">html</a></li>
					<li><a href="#d_script">controller</a></li>
				</ul>
				<div>
					<div id="d_html">
						<pre pretty-print="html" >
	<input id="default" type="text" pui-spinner ng-model="value" /><br/>
	Scope value {{value}}

						</pre>
					</div>
					<div id="d_script">
						<pre pretty-print="js" >
	$scope.value = null;
						</pre>
					</div>
				</div>
			</div>
		</fieldset>

	</div>
</div>