<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiSpinner">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Define step, min and max</header>

			<input id="default" type="text" pui-spinner="{step: 0.25, min: 0.0, max: 5.0}" ng-model="value" /><br/>
			Scope value <span id="modelValue">{{value}}</span>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<input id="default" type="text" pui-spinner="{step: 0.25, min: 0.0, max: 5.0}" ng-model="value" /><br/>
Scope value {{value}}

                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.value = null;
                    </pre>
                </div>
			</div>
		</fieldset>

	</div>
</div>