<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiTree">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Node icons <span version="0.5"/></header>
            <div id="icons" pui-tree="treeIcons" >
                <div pui-treenode="Documents" >
                    <div pui-treenode="Work" >
                        <div pui-treenode="{label: 'Expenses.doc', iconType:'doc'}" ></div>
                        <div pui-treenode="{label: 'Resume.doc', iconType:'doc'}" ></div>
                    </div>
                    <div pui-treenode="Home" >
                        <div pui-treenode="{label: 'Invoices.txt', iconType:'doc'}" ></div>
                    </div>
                </div>
                <div pui-treenode="Pictures" >
                    <div pui-treenode="{label: 'barcelona.jpg', iconType:'picture'}" ></div>
                    <div pui-treenode="{label: 'logo.jpg', iconType:'picture'}" ></div>
                    <div pui-treenode="{label: 'primeui.jpg', iconType:'picture'}" ></div>
                    <div pui-treenode="Special" >
                        <div pui-treenode="{label: 'test.doc', iconType:'doc'}" ></div>
                    </div>
                </div>
            </div>

		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
				<ul>
					<li><a href="#d_html">html</a></li>
					<li><a href="#d_script">controller</a></li>
				</ul>
				<div>
					<div id="d_html">
						<pre pretty-print="html" >
            <div id="icons" pui-tree="treeIcons" >
                <div pui-treenode="Documents" >
                    <div pui-treenode="Work" >
                        <div pui-treenode="{label: 'Expenses.doc', iconType:'doc'}" ></div>
                        <div pui-treenode="{label: 'Resume.doc', iconType:'doc'}" ></div>
                    </div>
                    <div pui-treenode="Home" >
                        <div pui-treenode="{label: 'Invoices.txt', iconType:'doc'}" ></div>
                    </div>
                </div>
                <div pui-treenode="Pictures" >
                    <div pui-treenode="{label: 'barcelona.jpg', iconType:'picture'}" ></div>
                    <div pui-treenode="{label: 'logo.jpg', iconType:'picture'}" ></div>
                    <div pui-treenode="{label: 'primeui.jpg', iconType:'picture'}" ></div>
                    <div pui-treenode="Special" >
                        <div pui-treenode="{label: 'test.doc', iconType:'doc'}" ></div>
                    </div>
                </div>
            </div>
						</pre>
					</div>
					<div id="d_script">
						<pre pretty-print="js" >
    $scope.treeIcons = {
        icons: {
            def: {
                expanded: 'ui-icon-folder-open',
                collapsed: 'ui-icon-folder-collapsed'
            },
            picture: 'ui-icon-image',
            doc: 'ui-icon-document',
            video: 'ui-icon-video'
        }
    };
                        </pre>
					</div>
				</div>
			</div>
		</fieldset>
	</div>

</div>