<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiTree">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Multiple selection<span version="0.5"/></header>
            <div id="multiple" pui-tree="multipleSelect" >
                <div pui-treenode="Documents" id="documents">
                    <div pui-treenode="Work" id="work">
                        <div pui-treenode="Expenses.doc" id="expenses" ></div>
                        <div pui-treenode="Resume.doc" id="resume"></div>
                    </div>
                    <div pui-treenode="Home" >
                        <div pui-treenode="Invoices.txt" id="invoices"></div>
                    </div>
                </div>
                <div pui-treenode="Pictures" id="pictures">
                    <div pui-treenode="barcelona.jpg" id="barcelona" ></div>
                    <div pui-treenode="logo.jpg" id="logo"></div>
                    <div pui-treenode="primeui.jpg" id="primeui"></div>
                    <div pui-treenode="Special" id="special">
                        <div pui-treenode="test.doc" id="test" ></div>
                    </div>
                </div>
            </div>

		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
        <div id="multiple" pui-tree="multipleSelect" >
            <div pui-treenode="Documents" id="documents">
                <div pui-treenode="Work" id="work">
                    <div pui-treenode="Expenses.doc" id="expenses" ></div>
                    <div pui-treenode="Resume.doc" id="resume"></div>
                </div>
                <div pui-treenode="Home" >
                    <div pui-treenode="Invoices.txt" id="invoices"></div>
                </div>
            </div>
            <div pui-treenode="Pictures" id="pictures">
                <div pui-treenode="barcelona.jpg" id="barcelona" ></div>
                <div pui-treenode="logo.jpg" id="logo"></div>
                <div pui-treenode="primeui.jpg" id="primeui"></div>
                <div pui-treenode="Special" id="special">
                    <div pui-treenode="test.doc" id="test" ></div>
                </div>
            </div>
        </div>
                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.multipleSelect = {
    selectionMode: 'multiple',
    nodeSelect: function(event, ui) {
        alert('Node Selected - Data: ' + ui.data);
    },
    nodeUnselect: function(event, ui) {
        alert('Node Unselected - Data: ' + ui.data);
    }
}
                    </pre>
                </div>
			</div>
		</fieldset>
	</div>

</div>