<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiTree">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>
        <span version="0.5"/>
		<fieldset id="description" pui-fieldset style="margin-bottom:20px">
			<legend>Description</legend>
            Displays hierarchical data or for navigation purposes.
		</fieldset>
		<fieldset id="supports" pui-fieldset style="margin-bottom:20px">
			<legend>Supports</legend>
            <ul>
                <li>Declarative tree node definition or based on JavaScript object</li>
                <li>Tree nodes can be loaded from remote call</li>
                <li>In lazy load mode, child nodes are retrieved when node is expanded</li>
                <li>Possibility to define icon in front of node label</li>
                <li>Single and multiple selection modes</li>
                <li>Callback functions for selecting and unselecting a node</li>
                <li>Slide animation when node is expanded/collapsed</li>
            </ul>
		</fieldset>
		<fieldset id="issues" pui-fieldset style="margin-bottom:20px">
			<legend>Known issues</legend>
		</fieldset>
		<fieldset id="planned" pui-fieldset style="margin-bottom:20px">
			<legend>Planned</legend>
            <ul>
                <li>Support for programmatic collapse / expand of nodes.</li>
            </ul>
		</fieldset>

		<fieldset id="Configuration" pui-fieldset style="margin-bottom:20px">
			<legend>Configuration</legend>
            <table class="doc-table">
                <thead>
                <tr>
                    <th class="ui-state-default">Type</th>
                    <th class="ui-state-default">Default</th>
                    <th class="ui-state-default">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr class="ui-widget-content">
                    <td>function(event, ui)</td>
                    <td>null</td>
                    <td>Node selection function.  ui.data contains the 'id' of the selected node.</td>
                </tr>
                </tbody>
            </table>
			<table class="doc-table">
				<thead>
				<tr>
					<th class="ui-state-default">Name</th>
					<th class="ui-state-default">Type</th>
					<th class="ui-state-default">Default</th>
					<th class="ui-state-default">Description</th>
				</tr>
				</thead>
				<tbody>
				<tr class="ui-widget-content">
					<td>nodes</td>
					<td>Array of objects / function(ui, callback)</td>
					<td>null</td>
					<td>Tree data to display. For the object structure see the pui-treenode description below.
                    When the lazy remote mode is active, the ui.data contains the 'id' of the expanded node.</td>
				</tr>
                <tr class="ui-widget-content">
                    <td>selectionMode</td>
                    <td>String</td>
                    <td>null</td>
                    <td>The selection mode for the nodes. When a nodeSelect function is defined, and this property is not specified, a default value of 'single' is assumed.
                    The other allowed value is 'multiple'.</td>
                </tr>
                <tr class="ui-widget-content">
                    <td>nodeSelect</td>
                    <td>function(event, ui)</td>
                    <td>null</td>
                    <td>Fired when a node is selected. ui.data contains the 'id', ui.node contains the li DOM element.</td>
                </tr>
                <tr class="ui-widget-content">
                    <td>nodeUnselect</td>
                    <td>function(event, ui)</td>
                    <td>null</td>
                    <td>Fired when a node is unselected. ui.data contains the 'id', ui.node contains the li DOM element.</td>
                </tr>
                <tr class="ui-widget-content">
                    <td>lazy</td>
                    <td>boolean</td>
                    <td>false</td>
                    <td>In lazy mode, children nodes are loaded on demand. Prefer this option when dealing with large datasets.
                    Requires function form for the nodes attribute.</td>
                </tr>
                <tr class="ui-widget-content">
                    <td>icons</td>
                    <td>String/Object</td>
                    <td>null</td>
                    <td>Defines icon sets for TreeNode types. When it is a String, it defines the CSS class of the icon like ui-icon-image.
                        When it is an object, the expanded and collapsed attribute defines the CSS class for the icon in the corresponding state of the node.</td>
                </tr>
                <tr class="ui-widget-content">
                    <td>animate</td>
                    <td>boolean</td>
                    <td>false</td>
                    <td>Displays a slide animation when nodes are expanded/collapsed when enabled.</td>
                </tr>
                </tbody>
			</table>

            <h3>node definition</h3>
            When elements are found with the pui-treenode directive defined, these are taken for tree build-up and
            information specified in the nodes property of the pui-tree directive is ignored.
            <table class="doc-table">
                <thead>
                <tr>
                    <th class="ui-state-default">Name</th>
                    <th class="ui-state-default">Type</th>
                    <th class="ui-state-default">Default</th>
                    <th class="ui-state-default">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr class="ui-widget-content">
                    <td>label</td>
                    <td>String</td>
                    <td>null</td>
                    <td>Label of the node.</td>
                </tr>
                <tr class="ui-widget-content">
                    <td>iconType</td>
                    <td>String</td>
                    <td>null</td>
                    <td>Type of the icon which needs to be displayed on the node. See also icons property of the pui-tree directive.</td>
                </tr>
                <tr class="ui-widget-content">
                    <td>data</td>
                    <td>String</td>
                    <td>null</td>
                    <td>'id' of the node used in the selection and deselection events.
                    <br/> When data is not specified, the id attribute is taken from the element.  If this is also not specified, the label property is used as a default.</td>
                </tr>
                </tbody>
            </table>
		</fieldset>


	</div>
</div>