<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiNotify">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Callback available when widget is closed.</header>
			<button id="btn-show" type="button" ng-click="showWithCallback()">Show</button><br>

			 <div id="ntfy" pui-notify="notifyCallbackOptions" >
				 When this notify is closed, a callback is executed.
			 </div>

		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<button id="btn-show" type="button" ng-click="showWithCallback()">Show</button><br>

<div id="ntfy" pui-notify="notifyCallbackOptions" >
    When this notify is closed, a callback is executed.
</div>
                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.notifyCallbackOptions = {
    visible : false
    ,callback : function () {
        alert('Notify widget closed by user');
    }
};

$scope.showWithCallback = function() {
    $scope.notifyCallbackOptions.visible = true;
};

                    </pre>
                </div>
			</div>
		</fieldset>
	</div>
</div>