<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiNotify">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Default integration</header>
			<button id="btn-show" type="button" ng-click="show()">Show</button>

			 <div id="ntfy" pui-notify="notifyOptions" >
				 <h1>PrimeUI Notify Widget</h1>
				 <p>Notify is a notification bar that can be positioned at the top or bottom of screen.</p>
			 </div>

		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<button id="btn-show" type="button" ng-click="show()">Show</button>

<div id="ntfy" pui-notify="notifyOptions" >
    <h1>PrimeUI Notify Widget</h1>
    <p>Notify is a notification bar that can be positioned at the top or bottom of screen.</p>
</div>

                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.notifyOptions = {
    visible : false
};

$scope.show = function() {
    $scope.notifyOptions.visible = true;
};

                    </pre>
                </div>
			</div>
		</fieldset>
	</div>
</div>