<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiNotify">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Shows the dynamic aspects of notify widget.  It can contain Angular expressions and it can be closed programmatic.</header>
			<button id="btn-show" type="button" ng-click="showDynamic()" ng-hide="notifyDynamicOptions.visible">Show</button>
			<button id="btn-hide" type="button" ng-click="hideDynamic()" ng-show="notifyDynamicOptions.visible">Hide</button>
			<br>
			<input type="text" ng-model="prop"/> <br/>

			 <div id="ntfy" pui-notify="notifyDynamicOptions" >
				 <h1>Notify Widget</h1>
				 This value is defined by the input text under the show button : {{prop}}
			 </div>

		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
				<ul>
					<li><a href="#d_html">html</a></li>
					<li><a href="#d_script">controller</a></li>
				</ul>
				<div>
					<div id="d_html">
						<pre pretty-print="html" >
	<button id="btn-show" type="button" ng-click="showDynamic()" ng-hide="notifyDynamicOptions.visible">Show</button>
	<button id="btn-hide" type="button" ng-click="hideDynamic()" ng-show="notifyDynamicOptions.visible">Hide</button>
	<br>
	<input type="text" ng-model="prop"/> <br/>

	<div id="ntfy" pui-notify="notifyDynamicOptions" >
		<h1>Notify Widget</h1>
		This value is defined by the input text under the show button : {{prop}}
	</div>

						</pre>

					</div>
					<div id="d_script">
						<pre pretty-print="js" >
	$scope.prop = 'Change me';

	$scope.notifyDynamicOptions = {
		visible : false
	};

	$scope.showDynamic = function() {
		$scope.notifyDynamicOptions.visible = true;
	};

	$scope.hideDynamic = function() {
		$scope.notifyDynamicOptions.visible = false;
	};

						</pre>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>