<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiDropdown">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Integration with ngDisabled</header>

			<select id="disabled" pui-dropdown ng-model="selectedBasic" ng-disabled="disabledWidget">
			    <option value="0">Select One</option>
			    <option value="1">Option 1</option>
			    <option value="2">Option 2</option>
			    <option value="3">Option 3</option>
			</select>
			<br/>Selected index {{selectedBasic}}<br/>
			<button ng-click="enableWidget()" type="button" ng-show="disabledWidget">Enable input</button>
			<button ng-click="disableWidget()" type="button" ng-hide="disabledWidget">Disable input</button>


		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
				<ul>
					<li><a href="#d_html">html</a></li>
					<li><a href="#d_script">controller</a></li>
				</ul>
				<div>
					<div id="d_html">
						<pre pretty-print="html" >
	<select id="disabled" pui-dropdown ng-model="selectedBasic" ng-disabled="disabledWidget">
		<option value="0">Select One</option>
		<option value="1">Option 1</option>
		<option value="2">Option 2</option>
		<option value="3">Option 3</option>
	</select>
	<br/>Selected index {{selectedBasic}}<br/>
	<button ng-click="enableWidget()" type="button" ng-show="disabledWidget">Enable input</button>
	<button ng-click="disableWidget()" type="button" ng-hide="disabledWidget">Disable input</button>

						</pre>

					</div>
					<div id="d_script">
						<pre pretty-print="js" >
	$scope.selectedBasic = null;

	$scope.disabledWidget = true;

	$scope.enableWidget = function() {
		$scope.disabledWidget = false;
	};

	$scope.disableWidget = function() {
		$scope.disabledWidget =  true;
	};

						</pre>

					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>