<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiDropdown">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Editable dropdown with items to select from </header>

			<select id="editable" pui-dropdown="{'editable' : true}" ng-model="selectedValue">
			    <option value="0">Select One</option>
			    <option value="1">Option 1</option>
			    <option value="2">Option 2</option>
			    <option value="3">Option 3</option>
			</select>
			<br/>Selected 'text' (after click outside field when custom value) <span id="selectedValue">{{selectedValue}}</span>

		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<select id="editable" pui-dropdown="{'editable' : true}" ng-model="selectedValue">
    <option value="0">Select One</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
</select>
<br/>Selected 'text' (after click outside field when custom value) {{selectedValue}}

                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.selectedValue = null;

                    </pre>
                </div>
			</div>
		</fieldset>
	</div>
</div>