<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiDropdown">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Use the selected label and not the index</header>

			<select id="label" pui-dropdown="{'useLabel' : true}" ng-model="selectedLabel">
			    <option value="0">Select One</option>
			    <option value="1">Option 1</option>
			    <option value="2">Option 2</option>
			    <option value="3">Option 3</option>
			</select>
			<br/>Selected value <span id="selectedLabel">{{selectedLabel}}</span>

		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<select id="label" pui-dropdown="{'useLabel' : true}" ng-model="selectedLabel">
    <option value="0">Select One</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
</select>
<br/>Selected value {{selectedLabel}}

                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.selectedLabel = null;
                    </pre>
                </div>
			</div>
		</fieldset>
	</div>
</div>