<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiRating">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Integration with ng-change</header>

			<input id="change" type="text" pui-rating ng-model="rating" ng-change="ratingClicked()" /> <br/>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<input id="change" type="text" pui-rating ng-model="rating" ng-change="ratingClicked()" />
                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.rating = 3;

$scope.ratingClicked = function () {
    alert("Rating has a new value : "+$scope.rating);
}
                    </pre>
                </div>
			</div>
		</fieldset>

	</div>
</div>