<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiRating">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Integration with ng-disabled</header>

			<input id="disable" type="text" pui-rating ng-disabled="disabledWidget" ng-model="rating" />
			<br/>
			<button ng-click="enableWidget()" type="button" ng-show="disabledWidget">Enable</button>
			<button ng-click="disableWidget()" type="button" ng-hide="disabledWidget">Disable</button>

		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<input id="disable" type="text" pui-rating ng-disabled="disabledWidget" ng-model="rating" />
<br/>
<button ng-click="enableWidget()" type="button" ng-show="disabledWidget">Enable</button>
<button ng-click="disableWidget()" type="button" ng-hide="disabledWidget">Disable</button>
                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.rating = 3;

$scope.disabledWidget = true;

$scope.enableWidget = function() {
    $scope.disabledWidget = false;
};

$scope.disableWidget = function() {
    $scope.disabledWidget =  true;
};
                    </pre>
                </div>
			</div>
		</fieldset>

	</div>
</div>