<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiRating">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<fieldset id="description" pui-fieldset style="margin-bottom:20px">
			<legend>Description</legend>
			Provides a star based rating input.
		</fieldset>
		<fieldset id="supports" pui-fieldset style="margin-bottom:20px">
			<legend>Supports</legend>
			<ul>
				<li>Number of stars can be defined</li>
				<li>Cancel icon</li>
				<li>Integration with ng-change</li>
			</ul>
		</fieldset>
		<fieldset id="issues" pui-fieldset style="margin-bottom:20px">
			<legend>Known issues</legend>
		</fieldset>
		<fieldset id="planned" pui-fieldset style="margin-bottom:20px">
			<legend>Planned</legend>
		</fieldset>

		<fieldset id="Configuration" pui-fieldset style="margin-bottom:20px">
			<legend>Configuration</legend>
			<table class="doc-table">
				<thead>
				<tr>
					<th class="ui-state-default">Name</th>
					<th class="ui-state-default">Type</th>
					<th class="ui-state-default">Default</th>
					<th class="ui-state-default">Description</th>
				</tr>
				</thead>
				<tbody>
				<tr class="ui-widget-content">
					<td>stars</td>
					<td>Integer</td>
					<td>5</td>
					<td>Rating stars number.</td>
				</tr>
				<tr class="ui-widget-content">
					<td>cancel</td>
					<td>Boolean</td>
					<td>true</td>
					<td>Defines if user can cancel rating.</td>
				</tr>
				</tbody>
			</table>
		</fieldset>


	</div>
</div>