<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AngularPrime v0.6 - Usecases - AngularJS - PrimeUI integration</title>

    <link rel="stylesheet" href="/angularPrime/css/libs/angularPrime-0.6/angularPrime-0.6.css">
    <link rel="stylesheet" href="/angularPrime/css/jquery-ui.css"/>

    <link rel="stylesheet" href="/angularPrime/css/usecase.css"/>

    <link rel="stylesheet" href="/angularPrime/themes/aristo/theme.css"/>

    <link rel="stylesheet" href="/angularPrime/css/libs/prettify.css">

    <script src="/angularPrime/js/libs/prettify/prettify.js"></script>

    <script src="/angularPrime/js/libs/primeUI/jquery.js"></script>
    <script src="/angularPrime/js/libs/primeUI/jquery-ui.js"></script>

    <script src="/angularPrime/js/libs/angular/angular.js"></script>
    <script src="/angularPrime/js/libs/angularPrime-0.6/angularPrime-0.6.js"></script>
    <script src="../js/directives.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app12.js"></script>

    <style>
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none;
        }

        .ng-invalid-required {
            background-color: red;
        }
    </style>

</head>
<body ng-app="password.cases">
<h1>pui-password widget</h1>

<div ng-controller="password.controller">

    <div class="col1">
        <hr>

        <h2>Inline feedback panel</h2>
        <input id="case1" type="password" pui-input="inlineOptions" ng-model="value1"/><br/>

        <hr>
        <h2>Custom Messages</h2>
        <input id="case2" type="password" pui-input="customMessages" ng-model="value2"/><br/>

        <hr>
    </div>
    <div class="col2">
        <hr>

        <h2>with ng-required</h2>
        <input id="case3" type="password" pui-input ng-required="true" ng-model="value3"/>

        <hr>

        <h2>with ng-disabled</h2>
        <input id="case4" type="password" pui-input ng-model="value4" ng-disabled="fieldDisabled"/><br/>

        <button ng-click="enableField()" type="button" ng-show="fieldDisabled" id="enableBtn">Enable</button>
        <button ng-click="disableField()" type="button" ng-hide="fieldDisabled" id="disableBtn">Disable</button>


        <hr>

    </div>
    <div class="col3">
        <hr>

        <h2>with ng-show/ng-hide</h2>

        <input id="case5" type="password" pui-input ng-model="value5" ng-show="visible"/><br/>
        <button type="button" ng-click="showField()" ng-hide="visible" id="showBtn">Show</button> <br/>
        <button type="button" ng-click="hideField()" ng-show="visible" id="hideBtn">Hide</button>


        <hr>


        <hr>
    </div>


    <div style="clear: both">
        <div ng-repeat="option in usecases">
                <input type="radio" ng-model="codeVisibleOf.selectedOptionValue" value="{{option.value}}" id="option-{{option.value}}" pui-input="" name="selectedCase">
                <label>{{option.description}}</label>
        </div>
        <div>
            <div id="sourceCase1" pui-tabview ng-show="codeVisibleOf.selectedOptionValue == '1'">
                <div pui-panel title="html">
                            <pre pretty-print="html">
    <input id="case1" type="password" pui-input="inlineOptions" ng-model="value1"/>
                            </pre>
                </div>
                <div pui-panel title="controller">
                            <pre pretty-print="js">
    $scope.value1 = null;

    $scope.inlineOptions = {
        inline: true
    };
                            </pre>
                </div>
            </div>
            <div id="sourceCase2" pui-tabview ng-show="codeVisibleOf.selectedOptionValue == '2'">
                <div pui-panel title="html">
                            <pre pretty-print="html">
    <input id="case2" type="password" pui-input="customMessages" ng-model="value2"/><br/>
                            </pre>
                </div>
                <div pui-panel title="controller">
                            <pre pretty-print="js">
    $scope.value2 = null;

    $scope.customMessages = {
        promptLabel: 'label',
        weakLabel: 'Level 1',
        goodLabel: 'Level 2',
        strongLabel: 'Level 3'
    };

                            </pre>
                </div>
            </div>
            <div id="sourceCase3" pui-tabview ng-show="codeVisibleOf.selectedOptionValue == '3'">
                <div pui-panel title="html">
                            <pre pretty-print="html">

    <input id="case3" type="password" pui-input ng-required="true" ng-model="value3"/>

                            </pre>
                </div>
                <div pui-panel title="controller">
                            <pre pretty-print="js">

    $scope.value3 = null;

                            </pre>
                </div>
            </div>

            <div id="sourceCase4" pui-tabview ng-show="codeVisibleOf.selectedOptionValue == '4'">
                <div pui-panel title="html">
                            <pre pretty-print="html">
    <input id="case4" type="password" pui-input ng-model="value4" ng-disabled="fieldDisabled"/><br/>

    <button ng-click="enableField()" type="button" ng-show="fieldDisabled" id="enableBtn">Enable</button>
    <button ng-click="disableField()" type="button" ng-hide="fieldDisabled" id="disableBtn">Disable</button>

                            </pre>
                </div>
                <div pui-panel title="controller">
                            <pre pretty-print="js">

    $scope.value4 = null;

    $scope.fieldDisabled = false;

    $scope.enableField = function() {
        $scope.fieldDisabled = false;
    };

    $scope.disableField = function() {
        $scope.fieldDisabled = true;
    };

                            </pre>
                </div>
            </div>

            <div id="sourceCase5" pui-tabview ng-show="codeVisibleOf.selectedOptionValue == '5'">
                <div pui-panel title="html">
                            <pre pretty-print="html">

        <input id="case5" type="password" pui-input ng-model="value5" ng-show="visible"/><br/>
        <button type="button" ng-click="showField()" ng-hide="visible" id="showBtn">Show</button> <br/>
        <button type="button" ng-click="hideField()" ng-show="visible" id="hideBtn">Hide</button>

                            </pre>
                </div>
                <div pui-panel title="controller">
                            <pre pretty-print="js">

    $scope.value5 = null;

    $scope.visible = true;

    $scope.showField = function() {
        $scope.visible = true;
    };

    $scope.hideField = function() {
        $scope.visible = false;
    };

                            </pre>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>