<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiAutocomplete">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Integration with ng-disabled</header>

			<input id="default" type="text" pui-input ng-model="country" pui-autocomplete="countries" ng-disabled="fieldDisabled"/><br/>
			<input id="dropdown" type="text" pui-input ng-model="country" pui-autocomplete="{dropdown: true, completeSource :countries}" ng-disabled="fieldDisabled"/><br/>
			Controller value is : {{country}}
			<br/>
			<button ng-click="enableField()" type="button" ng-show="fieldDisabled">Enable</button>
			<button ng-click="disableField()" type="button" ng-hide="fieldDisabled">Disable</button>

		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<input id="default" type="text" pui-input ng-model="country" pui-autocomplete="countries" ng-disabled="fieldDisabled"/><br/>
<input id="dropdown" type="text" pui-input ng-model="country" pui-autocomplete="{dropdown: true, completeSource :countries}" ng-disabled="fieldDisabled"/><br/>
Controller value is : {{country}}
<br/>
<button ng-click="enableField()" type="button" ng-show="fieldDisabled">Enable</button>
<button ng-click="disableField()" type="button" ng-hide="fieldDisabled">Disable</button>
                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.country = null;
$scope.countries = new Array("Afghanistan", "Albania", "Algeria", "Andorra", ...);

$scope.fieldDisabled = true;

$scope.enableField = function() {
    $scope.fieldDisabled = false;
};

$scope.disableField = function() {
    $scope.fieldDisabled =  true;
};
                    </pre>
                </div>
			</div>
		</fieldset>

	</div>
</div>