<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiAutocomplete">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Custom element</header>


			<pui-autocomplete id="element" ng-model="country" pui-binding="countries"></pui-autocomplete> (hint: countries)<br/>
			Controller value is : <span id="controllerValue">{{country}}</span>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<pui-autocomplete id="default" ng-model="country" pui-binding="countries"/> (hint: countries)<br/>
Controller value is : {{country}}
                    </pre>
                </div>
                <div pui-panel title="controller">

                    <pre pretty-print="js" >
$scope.country = null;
$scope.countries = new Array("Afghanistan", "Albania", "Algeria", "Andorra", ...);

                    </pre>
                </div>
			</div>
		</fieldset>

	</div>
</div>