<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiAutocomplete">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Autocomplete with a function</header>

			<input id="function" type="text" pui-input ng-model="value" pui-autocomplete="autoCompleteMethod"/><br/>
			Controller value is : {{value}}
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
				<ul>
					<li><a href="#d_html">html</a></li>
					<li><a href="#d_script">controller</a></li>
				</ul>
				<div>
					<div id="d_html">
						<pre pretty-print="html" >
	<input id="function" type="text" pui-input ng-model="value" pui-autocomplete="autoCompleteMethod"/><br/>
	Controller value is : {{value}}
						</pre>
					</div>
					<div id="d_script">
						<pre pretty-print="js" >
	$scope.autoCompleteMethod = function (request, response) {
		var data = [];
		var query = request.query;
		for (var i = 0; i < 5; i++) {
			data.push({"label": query + i, "value": query + i});
		}
		response.call(this, data);
	};
						</pre>
					</div>
				</div>
			</div>
		</fieldset>

	</div>
</div>