<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiAutocomplete">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Multiple values integration</header>

			<input id="multiple" type="text" pui-input ng-model="country" pui-autocomplete="multipleCountry"/><br/>
			Field value is : {{country}}<br/>
			Selected values are : <span id="controllerValue">{{multipleCountry.multipleValues}}</span>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<input id="multiple" type="text" pui-input ng-model="country" pui-autocomplete="multipleCountry"/><br/>
Field value is : {{country}}<br/>
Selected values are : {{multipleCountry.multipleValues}}
                    </pre>
                </div>
                <div pui-panel title="controller">
						<pre pretty-print="js" >
	$scope.country = null;
	$scope.countries = new Array("Afghanistan", "Albania", "Algeria", "Andorra", ...);

	$scope.multipleCountry = {
		multiple: true
		, completeSource: $scope.countries
		, multipleValues: []
	};
						</pre>
                </div>
            </div>
		</fieldset>

	</div>
</div>