<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiProgressbar">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Specify options <span version="0.3"/></header>

            <div id="options" pui-progressbar="smoothProgress" ></div>
            <button ng-click="startTimer()" type="button" >Fill bar</button>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
				<ul>
					<li><a href="#d_html">html</a></li>
					<li><a href="#d_script">controller</a></li>
				</ul>
				<div>
					<div id="d_html">
						<pre pretty-print="html" >
    <div id="options" pui-progressbar="smoothProgress" ></div>
    <button ng-click="startTimer()" type="button" >Fill bar</button>
						</pre>
					</div>
					<div id="d_script">
						<pre pretty-print="js" >

    $scope.smoothProgress = {
        value : 0,
        showLabel : false,
        easing: 'linear',
        effectSpeed: 1000
    }

    $scope.doStep = function() {
        $scope.smoothProgress.value = $scope.smoothProgress.value + 10;
        $timeout(function() {
            if ($scope.smoothProgress.value < 100) {
                $scope.doStep();
            }
        }, 1000);
    };

    $scope.startTimer = function() {
        $scope.smoothProgress.value = 0;
        $scope.doStep();
    }

                        </pre>
					</div>
				</div>
			</div>
		</fieldset>
	</div>

</div>