<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiPicklist">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Custom content<span version="0.6"/></header>
            <pui-picklist id="customContent" ng-model="selectedOptions" ng-options="theme for theme in picklistContent" >
                <pui-content ><img pui-src="demo/images/themes/%LABEL%.png" alt="" /><span style="float:right;font-size:14px">%LABEL%</span></pui-content>
            </pui-picklist> <br/>
            Selected options =  <span id="selectedOptions">{{selectedOptions}}</span>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
???
                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >

                    </pre>
                </div>
			</div>
		</fieldset>
	</div>

</div>