<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiPicklist">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Options from JavaScript<span version="0.5"/></header>
            <select id="data" pui-picklist="picklistData" ng-model="selectedOptions"></select>
            <br/>
            Selected options = {{selectedOptions}}
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
        <select id="data" pui-picklist="picklistData" ng-model="selectedOptions"></select>
        <br/>
        Selected options = {{selectedOptions}}
                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.picklistData = [
    {value: "1", label: "Volkswagen" },
    {value: "2", label: "Ford" },
    {value: "3", label: "Mercedes" },
    {value: "4", label: "Audi" },
    {value: "5", label: "BMW" },
    {value: "6", label: "Honda" },
    {value: "7", label: "Porsche" },
    {value: "8", label: "Chevrolet" },
    {value: "9", label: "Jaguar"}
];


                    </pre>
                </div>
			</div>
		</fieldset>
	</div>

</div>