<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiPicklist">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Integration with ng-disabled <span version="0.5"/></header>
            <select id="disabled" pui-picklist ng-model="selectedOptions" ng-disabled="disabledWidget">
                <option value="1">Volkswagen</option>
                <option value="2">Ford</option>
                <option value="3">Mercedes</option>
                <option value="4">Audi</option>
                <option value="5">BMW</option>
                <option value="6">Honda</option>
                <option value="7">Porsche</option>
                <option value="8">Chevrolet</option>
                <option value="9">Jaguar</option>
            </select>    <br/>
            Selected options = <span id="selectedOptions">{{selectedOptions}}</span> <br/>
            <button ng-click="enableWidget()" type="button" ng-show="disabledWidget" id="enableBtn">Enable input</button>
            <button ng-click="disableWidget()" type="button" ng-hide="disabledWidget" id="disableBtn">Disable input</button>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
            <select id="disabled" pui-picklist ng-model="selectedOptions" ng-disabled="disabledWidget">
                <option value="1">Volkswagen</option>
                <option value="2">Ford</option>
                <option value="3">Mercedes</option>
                <option value="4">Audi</option>
                <option value="5">BMW</option>
                <option value="6">Honda</option>
                <option value="7">Porsche</option>
                <option value="8">Chevrolet</option>
                <option value="9">Jaguar</option>
            </select>    <br/>
        Selected options = <span id="selectedOptions">{{selectedOptions}}</span> <br/>
        <button ng-click="enableWidget()" type="button" ng-show="disabledWidget" id="enableBtn">Enable input</button>
        <button ng-click="disableWidget()" type="button" ng-hide="disabledWidget" id="disableBtn">Disable input</button>
					</pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.selectedOptions = [];

$scope.disabledWidget = true;

$scope.enableWidget = function() {
    $scope.disabledWidget = false;
};

$scope.disableWidget = function() {
    $scope.disabledWidget =  true;
};

                    </pre>
                </div>
			</div>
		</fieldset>
	</div>

</div>