<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiPicklist">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Filtering of options <span version="0.5"/></header>
            <select id="filter" pui-picklist="{filter: true}" ng-model="selectedOptions">
                <option value="1">Volkswagen</option>
                <option value="2">Ford</option>
                <option value="3">Mercedes</option>
                <option value="4">Audi</option>
                <option value="5">BMW</option>
                <option value="6">Honda</option>
                <option value="7">Porsche</option>
                <option value="8">Chevrolet</option>
                <option value="9">Jaguar</option>
            </select>    <br/>
            Selected options = {{selectedOptions}}
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
        <select id="filter" pui-picklist="{filter: true}" ng-model="selectedOptions">
            <option value="1">Volkswagen</option>
            <option value="2">Ford</option>
            <option value="3">Mercedes</option>
            <option value="4">Audi</option>
            <option value="5">BMW</option>
            <option value="6">Honda</option>
            <option value="7">Porsche</option>
            <option value="8">Chevrolet</option>
            <option value="9">Jaguar</option>
        </select>    <br/>
        Selected options = {{selectedOptions}}
                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.selectedOptions = [];
                    </pre>
                </div>
			</div>
		</fieldset>
	</div>

</div>