<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiInput on &amp;lt;input type='radio'&amp;gt;">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Default integration</header>
			<table id="default">
				<tr>
					<td><input type="radio" pui-input ng-model="radioValue1" name="rd" id="rd1" value="1"/></td>
					<td><label for="rd1">Option 1</label></td>
				</tr>
				<tr>
					<td><input type="radio" pui-input ng-model="radioValue1" name="rd" id="rd2" value="2"/></td>
					<td><label for="rd2">Option 2</label></td>
				</tr>
			</table>
			Controller value = <span id="modelValue">{{radioValue1}}</span>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<table>
    <tr>
        <td><input type="radio" pui-input ng-model="radioValue1" name="rd" id="rd1" value="1"/></td>
        <td><label for="rd1">Option 1</label></td>
    </tr>
    <tr>
        <td><input type="radio" pui-input ng-model="radioValue1" name="rd" id="rd2" value="2"/></td>
        <td><label for="rd2">Option 2</label></td>
    </tr>
</table>
Controller value = {{radioValue1}}
                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.radioValue1 = null;
                    </pre>
                </div>
			</div>
		</fieldset>
	</div>
</div>