<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiFieldset">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Callback when user toggles</header>
			<fieldset id="callback" style="margin-bottom:20px" pui-fieldset="callbackOptions">
			    <legend>Callback</legend>
			    The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
			    His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
			    Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
			    kind and benevolent to those who give respect,
			    but given to ruthless violence whenever anything stands against the good of the family.
			</fieldset>

		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
				<ul>
					<li><a href="#d_html">html</a></li>
					<li><a href="#d_script">controller</a></li>
				</ul>
				<div>
					<div id="d_html">
						<pre pretty-print="html" >
	<fieldset id="callback" style="margin-bottom:20px" pui-fieldset="callbackOptions">
		<legend>Callback</legend>
		The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
		...
		but given to ruthless violence whenever anything stands against the good of the family.
	</fieldset>

						</pre>
					</div>
					<div id="d_script">
						<pre pretty-print="html" >
	$scope.callbackOptions = {
		collapsed : false
		,callback : function () {
			alert('User toggled the fieldset');
		}
	};
						</pre>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>