<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiFieldset">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<fieldset id="description" pui-fieldset style="margin-bottom:20px">
			<legend>Description</legend>
			Grouping component which also provides content toggling.
		</fieldset>
		<fieldset id="supports" pui-fieldset style="margin-bottom:20px">
			<legend>Supports</legend>
			<ul>
				<li>Grouping of content skinned according to the theme</li>
				<li>Optional toggleable content</li>
				<li>Expression allowed in legend tag and within body</li>
				<li>Programmatic toggleable</li>
				<li>Callback function available when user toggles the content</li>
			</ul>
		</fieldset>
		<fieldset id="issues" pui-fieldset style="margin-bottom:20px">
			<legend>Known issues</legend>
			<ul>
				<li>No warning when callback set but not the collapsed option.</li>
			</ul>
		</fieldset>
		<fieldset id="planned" pui-fieldset style="margin-bottom:20px">
			<legend>Planned</legend>
		</fieldset>

		<fieldset id="Configuration" pui-fieldset style="margin-bottom:20px">
			<legend>Configuration</legend>
			<table class="doc-table">
				<thead>
				<tr>
					<th class="ui-state-default">Name</th>
					<th class="ui-state-default">Type</th>
					<th class="ui-state-default">Default</th>
					<th class="ui-state-default">Description</th>
				</tr>
				</thead>
				<tbody>
				<tr class="ui-widget-content">
					<td>toggleDuration</td>
					<td>Number/String</td>
					<td>normal</td>
					<td>Defines the duration of the toggle effect, valid values are "slow", "normal", "fast" or a number in milliseconds.</td>
				</tr>
				<tr class="ui-widget-content">
					<td>collapsed</td>
					<td>Boolean</td>
					<td>undefined</td>
					<td>When set, defines the display status of the fieldset and marks is as toggleable.</td>
				</tr>
				<tr class="ui-widget-content">
					<td>callback</td>
					<td>function()</td>
					<td>undefined</td>
					<td>Allows to react when the user changes the collapsed state of the content.</td>
				</tr>
				</tbody>
			</table>
		</fieldset>


	</div>
</div>