<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiFieldset">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Programmatic collapse and expand</header>
			<fieldset id="programmatic" style="margin-bottom:20px" pui-fieldset="fieldsetOptions">
			    <legend>Programmatic</legend>
			    The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
			    His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
			    Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
			    kind and benevolent to those who give respect,
			    but given to ruthless violence whenever anything stands against the good of the family.
			</fieldset>
			<button ng-click="collapseFieldset()" type="button" ng-hide="fieldsetOptions.collapsed" >Collapse</button>
			<button ng-click="expandFieldset()" type="button" ng-show="fieldsetOptions.collapsed">Expand</button>


		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<fieldset id="programmatic" style="margin-bottom:20px" pui-fieldset="fieldsetOptions">
    <legend>Programmatic</legend>
    The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
    ...
    but given to ruthless violence whenever anything stands against the good of the family.
</fieldset>
<button ng-click="collapseFieldset()" type="button" ng-hide="fieldsetOptions.collapsed" >Collapse</button>
<button ng-click="expandFieldset()" type="button" ng-show="fieldsetOptions.collapsed">Expand</button>

                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.fieldsetOptions = {
    collapsed : true
};

$scope.collapseFieldset = function() {
    $scope.fieldsetOptions.collapsed = true;
};

$scope.expandFieldset = function() {
    $scope.fieldsetOptions.collapsed = false;
};
                    </pre>
                </div>
			</div>
		</fieldset>
	</div>
</div>
