<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiInput on &amp;lt;input type='password'&amp;gt;">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Default integration</header>

			<input id="default" type="password" pui-input ng-model="value1"/><br/>

            No strength panel <br/>
            <input id="noStrength" type="password" pui-input="{noPasswordStrength: true}" ng-model="value1"/><br/>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<input id="default" type="password" pui-input ng-model="value1"/><br/>

<input id="noStrength" type="password" pui-input="{noPasswordStrength: true}" ng-model="value1"/><br/>
                    </pre>
                </div>
                <div pui-panel title="controller">
                </div>
			</div>
		</fieldset>

	</div>
</div>