<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiInput on &amp;lt;textarea &amp;gt;">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Integration with ng-disabled</header>

			<textarea id="basic" rows="5" cols="30" pui-input ng-model="value1" ng-disabled="fieldDisabled"></textarea><br/>
			<br/>
			<button ng-click="enableField()" type="button" ng-show="fieldDisabled">Enable</button>
			<button ng-click="disableField()" type="button" ng-hide="fieldDisabled">Disable</button>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
				<ul>
					<li><a href="#d_html">html</a></li>
					<li><a href="#d_script">controller</a></li>
				</ul>
				<div>
					<div id="d_html">
						<pre pretty-print="html" >
	<textarea id="basic" rows="5" cols="30" pui-input ng-model="value1" ng-disabled="fieldDisabled"></textarea><br/>
	<br/>
	<button ng-click="enableField()" type="button" ng-show="fieldDisabled">Enable</button>
	<button ng-click="disableField()" type="button" ng-hide="fieldDisabled">Disable</button>
						</pre>

					</div>
					<div id="d_script">
						<pre pretty-print="js" >
	$scope.value1 = 'Change me';

	$scope.fieldDisabled = true;

	$scope.enableField = function() {
		$scope.fieldDisabled = false;
	};

	$scope.disableField = function() {
		$scope.fieldDisabled =  true;
	};

						</pre>

					</div>
				</div>
			</div>
		</fieldset>

	</div>
</div>