<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiInput on &amp;lt;textarea &amp;gt;">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Integration with ng-disabled</header>

			<textarea id="disabled" rows="5" cols="30" pui-input ng-model="value1" ng-disabled="fieldDisabled"></textarea><br/>
            Controller value = <span id="modelValue">{{ value1 }}</span>
			<br/>
			<button ng-click="enableField()" type="button" ng-show="fieldDisabled" id="enableBtn">Enable</button>
			<button ng-click="disableField()" type="button" ng-hide="fieldDisabled" id="disableBtn">Disable</button>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<textarea id="disabled" rows="5" cols="30" pui-input ng-model="value1" ng-disabled="fieldDisabled"></textarea><br/>
<br/>
<button ng-click="enableField()" type="button" ng-show="fieldDisabled">Enable</button>
<button ng-click="disableField()" type="button" ng-hide="fieldDisabled">Disable</button>
                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.value1 = 'Change me';

$scope.fieldDisabled = true;

$scope.enableField = function() {
    $scope.fieldDisabled = false;
};

$scope.disableField = function() {
    $scope.fieldDisabled =  true;
};

                    </pre>
                </div>
			</div>
		</fieldset>

	</div>
</div>