<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiInput on &amp;lt;textarea &amp;gt;">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Maximum number of characters and indication number remaining</header>

			<textarea id="remaining" rows="5" cols="30" pui-input="{'display': '#display', 'template' : '{0} chars remaining.', 'maxLength' : 20}" ng-model="value1"></textarea>
			<span id="display" ></span>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<textarea id="remaining" rows="5" cols="30" pui-input="{'display': '#display', 'template' : '{0} chars remaining.', 'maxLength' : 20}" ng-model="value1"></textarea>
<span id="display" ></span>

                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.value1 = 'Change me';
                    </pre>
                </div>
			</div>
		</fieldset>

	</div>
</div>