<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiTooltip">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Tooltip on less common elements</header>
			<p pui-tooltip="{'content': 'This is the tooltip placed on a p element', 'at': 'left bottom'}">On this Paragraph, there is a tooltip defined</p>
			<p>But not on this one.</p>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<p pui-tooltip="{'content': 'This is the tooltip placed on a p element', 'at': 'left bottom'}">On this Paragraph, there is a tooltip defined</p>
<p>But not on this one.</p>
                    </pre>
                </div>
                <div pui-panel title="controller">
                </div>
			</div>
		</fieldset>
	</div>
</div>