<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiTooltip">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Default integration</header>
			<button type="button" title="Tooltip for the save button" pui-tooltip>Save</button>
			<a href="#" title="tooltip for a link" pui-tooltip>Hover me!</a>
			<img src="demo/images/AngularPrime.jpg" title="A very bad Photoshop job" pui-tooltip width="109" height="116"/>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<button type="button" title="Tooltip for the save button" pui-tooltip>Save</button>
<a href="#" title="tooltip for a link" pui-tooltip>Hover me!</a>
<img src="demo/images/AngularPrime.jpg" title="A very bad Photoshop job" pui-tooltip width="109" height="116"/>
                    </pre>
                </div>
                <div pui-panel title="controller">
                </div>
			</div>
		</fieldset>
	</div>
</div>