<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiInput on &amp;lt;input type='checkbox'&amp;gt;">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>checked attribute is integrated and takes precedence over controller value (initially)</header>
			<input type="checkbox" id="chk2" ng-model="checkboxSelectedValue2" pui-input checked/><label for="chk2">Option 2</label><br/>
			Controller value = <span id="modelValue">{{checkboxSelectedValue2}}</span>
		</section>


		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
				<ul>
					<li><a href="#d_html">html</a></li>
					<li><a href="#d_script">controller</a></li>
				</ul>
				<div>
					<div id="d_html">
						<pre pretty-print="html" >
	<input type="checkbox" id="chk2" ng-model="checkboxSelectedValue2" pui-input checked/><label for="chk2">Option 2</label><br/>
	Controller value = {{checkboxSelectedValue2}}

						</pre>
					</div>
					<div id="d_script">
						<pre pretty-print="js" >
	$scope.checkboxSelectedValue2 = false;
						</pre>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>