<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiInput on &amp;lt;input type='checkbox'&amp;gt;">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Integration with ng-disabled</header>
			<input type="checkbox" id="chk3" ng-disabled="disabledWidget" ng-model="checkboxSelectedValue3" pui-input/> <label id="lblchk3" for="chk3">Option 3</label> <br/>
            Controller value = <span id="modelValue">{{checkboxSelectedValue3}}</span>
			<br/>
			<button id="enableBtn" ng-click="enableWidget()" type="button" ng-show="disabledWidget">Enable input</button>
			<button id="disableBtn" ng-click="disableWidget()" type="button" ng-hide="disabledWidget">Disable input</button>
		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<input type="checkbox" id="chk3" ng-disabled="disabledWidget" ng-model="checkboxSelectedValue3" pui-input/> <label for="chk3">Option 3</label>
<br/>
<button ng-click="enableWidget()" type="button" ng-show="disabledWidget">Enable input</button>
<button ng-click="disableWidget()" type="button" ng-hide="disabledWidget">Disable input</button>

                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.checkboxSelectedValue3 = false;

$scope.disabledWidget = true;

$scope.enableWidget = function() {
    $scope.disabledWidget = false;
};

$scope.disableWidget = function() {
    $scope.disabledWidget =  true;
};

                    </pre>
                </div>
			</div>
		</fieldset>
	</div>
</div>