<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiGalleria">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Default integration</header>
			<div id="images" pui-galleria="{'panelWidth': 500, 'panelHeight': 313}">
			    <ul>
			        <li><img src="demo/images/galleria/galleria1.jpg" alt="Galleria 1 Description" title="Galleria 1"/></li>
			        <li><img src="demo/images/galleria/galleria2.jpg" alt="Galleria 2 Description" title="Galleria 2"/></li>
			        <li><img src="demo/images/galleria/galleria3.jpg" alt="Galleria 3 Description" title="Galleria 3"/></li>
			        <li><img src="demo/images/galleria/galleria4.jpg" alt="Galleria 4 Description" title="Galleria 4"/></li>
			        <li><img src="demo/images/galleria/galleria5.jpg" alt="Galleria 5 Description" title="Galleria 5"/></li>
			        <li><img src="demo/images/galleria/galleria6.jpg" alt="Galleria 6 Description" title="Galleria 6"/></li>
			        <li><img src="demo/images/galleria/galleria7.jpg" alt="Galleria 7 Description" title="Galleria 7"/></li>
			        <li><img src="demo/images/galleria/galleria8.jpg" alt="Galleria 8 Description" title="Galleria 8"/></li>
			        <li><img src="demo/images/galleria/galleria9.jpg" alt="Galleria 9 Description" title="Galleria 9"/></li>
			        <li><img src="demo/images/galleria/galleria10.jpg" alt="Galleria 10 Description" title="Galleria 10"/></li>
			        <li><img src="demo/images/galleria/galleria11.jpg" alt="Galleria 11 Description" title="Galleria 11"/></li>
			        <li><img src="demo/images/galleria/galleria12.jpg" alt="Galleria 12 Description" title="Galleria 12"/></li>
			    </ul>
			</div>

		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<div id="images" pui-galleria="{'panelWidth': 500, 'panelHeight': 313}">
    <ul>
        <li><img src="demo/images/galleria/galleria1.jpg" alt="Galleria 1 Description" title="Galleria 1"/></li>
        <li><img src="demo/images/galleria/galleria2.jpg" alt="Galleria 2 Description" title="Galleria 2"/></li>
        ...
        <li><img src="demo/images/galleria/galleria12.jpg" alt="Galleria 12 Description" title="Galleria 12"/></li>
    </ul>
</div>

                    </pre>
                </div>
                <div pui-panel title="controller">
                </div>
			</div>
		</fieldset>
	</div>
</div>