<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiListbox">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Multiple selection<span version="0.5"/></header>
            <select id="multiple" pui-listbox ng-model="selectedOption" multiple>
                <option value="0">Select One</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
                <option value="5">Option 5</option>
            </select> <br/>
            Selected option (index) : <span id="selectedOptions">{{selectedOption}}</span>
        </section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
        <select id="multiple" pui-listbox ng-model="selectedOption" multiple>
            <option value="0">Select One</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
            <option value="5">Option 5</option>
        </select> <br/>
        Selected option (index) : <span id="selectedOptions">{{selectedOption}}</span>
                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.selectedOption = null;
                    </pre>
                </div>
			</div>
		</fieldset>
	</div>

</div>