<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiSplitButton">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Integrated with ng-disable <span version="0.5"/></header>

            <div id="disabled" pui-splitbutton ng-click="showMessage('Save clicked')" type="button" ng-disabled="buttonDisabled" >Save
                <button ng-click="showMessage('Update clicked')" type="button" pui-button>Update</button>
                <button ng-click="showMessage('Delete clicked')" type="button" pui-button="{'icon':'ui-icon-trash'}" >Delete</button>
            </div>
            <br/>
            <button ng-click="enableButton()" type="button" ng-show="buttonDisabled" id="enableBtn">Enable splitButton</button>
            <button ng-click="disableButton()" type="button" ng-hide="buttonDisabled" id="disableBtn">Disable splitButton</button>

		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >

        <div id="disabled" pui-splitbutton ng-click="showMessage('Save clicked')" type="button" ng-disabled="buttonDisabled" >Save
            <button ng-click="showMessage('Update clicked')" type="button" pui-button>Update</button>
            <button ng-click="showMessage('Delete clicked')" type="button" pui-button="{'icon':'ui-icon-trash'}" >Delete</button>
        </div>
        <br/>
        <button ng-click="enableButton()" type="button" ng-show="buttonDisabled" id="enableBtn">Enable splitButton</button>
        <button ng-click="disableButton()" type="button" ng-hide="buttonDisabled" id="disableBtn">Disable splitButton</button>
                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.showMessage = function(msg) {
    alert(msg);
};

$scope.buttonDisabled = true;

$scope.enableButton = function() {
    $scope.buttonDisabled = false;
};

$scope.disableButton = function() {
    $scope.buttonDisabled =  true;
};

                    </pre>
                </div>
			</div>
		</fieldset>

	</div>
</div>