<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiSplitButton">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Text on button can be dynamic <span version="0.5"/></header>

            <div id="dynamic" pui-splitbutton ng-click="showMessage('Save clicked')" type="button" >{{buttonTitle}}
                <button ng-click="showMessage('Update clicked')" type="button" pui-button>Update</button>
                <button ng-click="showMessage('Delete clicked')" type="button" pui-button >Delete</button>
            </div>
            <br/><input id="title" type="text" ng-model="buttonTitle"/>

		</section>

		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
            <div id="dynamic" pui-splitbutton ng-click="showMessage('Save clicked')" type="button" >{{buttonTitle}}
                <button ng-click="showMessage('Update clicked')" type="button" pui-button>Update</button>
                <button ng-click="showMessage('Delete clicked')" type="button" pui-button >Delete</button>
            </div>
            <br/><input id="title" type="text" ng-model="buttonTitle"/>

                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.showMessage = function(msg) {
    alert(msg);
};

$scope.buttonTitle = "Title";
                    </pre>
                </div>
			</div>
		</fieldset>

	</div>
</div>