<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<div pui-panel title="puiButton">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Text on button can be dynamic</header>

			<button ng-click="showMessage('Button variable title clicked')" type="button" pui-button>{{buttonTitle}}</button>
			<br/><input type="text" ng-model="buttonTitle"/>
		</section>
		<fieldset id="Source" pui-fieldset style="margin-bottom:20px">
			<legend>Source</legend>
			<div id="sourceTabs" pui-tabview>
                <div pui-panel title="html">
                    <pre pretty-print="html" >
<button ng-click="showMessage('Button variable title clicked')" type="button" pui-button>{{buttonTitle}}</button><br/>
<input type="text" ng-model="buttonTitle"/>
                    </pre>
                </div>
                <div pui-panel title="controller">
                    <pre pretty-print="js" >
$scope.showMessage = function(msg) {
    alert(msg);
};

$scope.buttonTitle = 'change me';
                    </pre>
                </div>
            </div>
		</fieldset>

	</div>
</div>